GROQ_API_KEY=your_groq_key_here
LLM_PROVIDER=bedrock
AWS_PROFILE=workshop
AWS_DEFAULT_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_SESSION_TOKEN=your_session_token